@import "./variables.scss";

.accordion {
  width: 100%;
}

.accordionItemHeader, 
.accordionItemHeader2,
.accordionItemHeader3 {
  cursor: pointer;
  position: relative;
  color: $TFSwhite;
  display: flex;
  align-items: center;
  background-color: $black;
  justify-content: center; 
  border-bottom: 2px solid grey;
}

.accordionItemHeader::after, 
.accordionItemHeader.active::after, 
.accordionItemHeader2::after, 
.accordionItemHeader2.active::after,
.accordionItemHeader3::after, 
.accordionItemHeader3.active::after
 {
  font-size: 3rem;
  position: absolute;
  right: 5%;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%; 
  padding: 0 10px;
}

.accordionItemHeader::after, 
.accordionItemHeader2::after,
.accordionItemHeader3::after {
  content: "\002B";
}

.accordionItemHeader.active::after, 
.accordionItemHeader2.active::after,
.accordionItemHeader3.active::after {
  content: "\002D";   
}

.accordionContent {
  color: $black;
  font-size: 1.5rem;
  font-family: $bodyText;
}

.accordionItemBody {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition: max-height 0.3s ease-out;
  border: 2px solid $black;
}

.accordionContent {
  margin: 20px 0;
}