.app {

  h1 {
    font-size: 5rem;
    width: 100%;
  }

  h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  h3 {
    font-size: 3rem;
  }

  .time {
    font-size: 3rem; 
  }

  .details {
    font-size: 1.5rem;
  }

}