

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf");
  font-weight: 500;
  font-display: swap;
}


$mainAccent: "Poppins-Semibold";
$bodyBold: "OpenSans-Bold";
$bodyText: "OpenSans-Regular";



$TFSred: #ec1d24;
$TFSyellow: #fcb217;
$TFSwhite: #ffffff;
$black: #161515;
$green: #1C7C1C;
