@import "./variables.scss";

.vol {
  border: 1px solid $black;
  margin: 5px 0;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
}

.detail {
  font-size: 1.2rem; 
  
}

.callButtonContainer {
  display: flex;
  justify-content: center;
}

.callButton {
    background-color: $green;
    border: 1px solid $black;
    color: $TFSwhite;
    text-decoration: none; 
    text-transform: uppercase;
    margin: 5px;
    padding: 10px;
    font-family: $mainAccent;
    transition: transform 0.6s ease-in-out;
    font-size: 1.5rem;
    width: 160px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.callButton:active {
  animation: push 0.5s ease-in-out;
}




