@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}
h1 {
  font-size: 3rem;
  width: 100%;
  font-family: "Poppins-Semibold";
  text-transform: uppercase;
  color: #ec1d24;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
  margin-bottom: 10px;
  padding: 0;
}

h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #ec1d24;
  font-family: "Poppins-Semibold";
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px;
}

h3 {
  font-size: 3rem;
}

.time {
  font-size: 1.6rem;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "OpenSans-Bold";
}

.details {
  font-size: 1.5rem;
}