@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf");
  font-weight: 500;
  font-display: swap;
}
h1 {
  font-size: 3rem;
  width: 100%;
  font-family: "Poppins-Semibold";
  text-transform: uppercase;
  color: #ec1d24;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
  margin-bottom: 10px;
  padding: 0;
}

h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Poppins-Semibold";
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px;
  font-size: 1.8rem;
}

.h2Black {
  background-color: #161515;
}

.h2Red {
  background-color: #ec1d24;
}

h3 {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.time {
  font-size: 1.6rem;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "OpenSans-Bold";
  margin-top: 10px;
}

.details {
  font-size: 1.5rem;
}

.aboutDetails {
  display: flex;
  font-size: 1.5rem;
  text-align: center;
  white-space: pre-wrap;
  justify-content: center;
  margin-bottom: 8px;
}