@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf");
  font-weight: 500;
  font-display: swap;
}
.vol {
  border: 1px solid #161515;
  margin: 5px 0;
  border-radius: 2px;
}

.detail {
  font-size: 1.2rem;
}

.callButton {
  text-decoration: none;
  font-family: "Poppins-Semibold";
}

.callButton:active {
  animation: push 0.5s ease-in-out;
}